<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879230167057-9p78dbu3nu1bkdgkoq0sjsve1p8in32k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879230167057-9p78dbu3nu1bkdgkoq0sjsve1p8in32k</string>
	<key>API_KEY</key>
	<string>AIzaSyBcuKc6mcmiXTOFL2407nFXBqV6b_yr-H4</string>
	<key>GCM_SENDER_ID</key>
	<string>879230167057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mailapp01</string>
	<key>PROJECT_ID</key>
	<string>mailbx-andriod</string>
	<key>STORAGE_BUCKET</key>
	<string>mailbx-andriod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879230167057:ios:9bd47492d0abb713d529b0</string>
</dict>
</plist>